<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>高翔</title>
    <script src="../static/js/jquery-2.1.4.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <script src="../static/js/font-awesome.min.css"></script>
    <link rel="stylesheet" href="../static/js/font-awesome.min.css">
    <script src="../static/js/bootstrap-switch.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap-switch.css">
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/china.js"></script>
    <script src="../static/js/world.js"></script>
    <script src="../static/js/bmap.min.js"></script>
    <script src="../static/js/mqtt.min.js"></script>
    <script src="../static/js/p5.min.js"></script>
    <script src="../static/js/flexible.js"></script>
    <style>
    *{

      }
    </style>
  </head>
  <body>
  </body>
  <script>
  </script>
</html>
